html {
  --main-text-colour: rgba(6, 11, 53, 1);
  --second-text-colour: rgba(97, 96, 112, 1);
  --button-colour: rgba(0, 172, 220, 1);
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: var(--main-text-colour);
}

body {
  margin: 0;
}

.card {
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border-radius: 5px;
  border: 1px solid rgba(243, 243, 243, 1);
  background: white;
}

.card__image {
  display: block;
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}

.card__title {
  color: var(--main-text-colour);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 4px;
}

.card__product-code {
  color: var(--second-text-colour);
  font-size: 10px;
  line-height: 14px;
  margin: 0 0 16px;
}

.card__review-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 24px;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--1 .stars__star:nth-child(-n+1),
.stars--2 .stars__star:nth-child(-n+2),
.stars--3 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:nth-child(-n+4),
.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url(images/star-active.svg);
}

.card__review-text {
  display: flex;
  width: 53px;
  height: 16px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: var(--main-text-colour);
  text-align: right;
  font-size: 10px;
  line-height: 14px;
}

.card__price-row {
  display: flex;
  width: 166px;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 16px;
}

.card__price-text {
  color: var(--second-text-colour);
  font-size: 12px;
  line-height: 18px;
}

.card__price-value {
  color: var(--main-text-colour);
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--button-colour);
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.card__buy:hover {
  background: white;
  color: var(--button-colour);
  border: 1px solid var(--button-colour);
}
